In [18]:
%matplotlib inline
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('anon_cis.csv')

In [20]:
df.sort_values(by=['anon_university_id', 'Q15'])[['anon_university_id', 'Q15']]

     anon_university_id             Q15
0                     0             NaN
1                     1  4 year college
3                     1  4 year college
2                     1             NaN
4                     2  4 year college
..                  ...             ...
590                 131             NaN
591                 131             NaN
592                 132  4 year college
594                 132  4 year college
593                 132             NaN

[599 rows x 2 columns]

In [28]:
df.sort_values(by=['anon_university_id', 'Q15'])[['anon_university_id', 'Q15']].groupby('anon_university_id').ffill().reindex(df[[ 'Q15']].columns, axis=1).shape

(599, 1)