In [30]:
import DataHelper
import pandas as pd
import numpy as np

In [2]:
e = DataHelper.eclass_data()

In [3]:
e.get_intro_pre()

,anon_student_id,survey_id,duration,q01a,q01b,q27a,q27b,q03a,q03b,q22a,...,q04b,q14a,q14b,q29a,q29b,q07a,q07b,q31a,q31b,ResponseId
19,11542,00STAnSs9Sqb8sB,234.0,5.0,5.0,5.0,5.0,3.0,5.0,1.0,...,5.0,3.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
20,11543,00STAnSs9Sqb8sB,688.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
21,11544,00STAnSs9Sqb8sB,298.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
22,11545,00STAnSs9Sqb8sB,1073.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,...,3.0,3.0,5.0,5.0,5.0,3.0,1.0,5.0,5.0,R_1I5iowCdb6VvSeo
23,11546,00STAnSs9Sqb8sB,427.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,3.0,5.0,5.0,5.0,1.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40067,3084,ezo65e90NlkpwRD,412.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,...,5.0,5.0,5.0,5.0,5.0,1.0,1.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40068,3085,ezo65e90NlkpwRD,847.0,5.0,5.0,3.0,3.0,3.0,5.0,1.0,...,5.0,5.0,5.0,3.0,5.0,1.0,3.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40069,3086,ezo65e90NlkpwRD,244.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,5.0,3.0,5.0,3.0,5.0,3.0,5.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40070,3087,ezo65e90NlkpwRD,407.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40071,3088,ezo65e90NlkpwRD,304.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,3.0,3.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ

In [4]:
pd.concat([e.get_intro_pre().anon_student_id, e.get_intro_post().anon_student_id]).nunique()

36538

In [8]:
survey_summary = pd.DataFrame(
    {'Number of instances of the survey offered':    [
        e.first_year_id.nunique()
        , e.buffy_id.nunique()
    ]
     
     ,'Number of unique universities':[
         e.get_cis_intro().anon_university_id.nunique(), e.get_cis_buffy().anon_university_id.nunique()
     ]
     
     , 'Number unique students': [
         pd.concat([e.get_intro_pre().anon_student_id, e.get_intro_post().anon_student_id]).nunique()
         , pd.concat([e.get_buffy_pre().anon_student_id, e.get_buffy_post().anon_student_id]).nunique()
                                              ]
     
   , 'Number of unique instructors': [
       e.get_cis_intro().anon_instructor_id.nunique()
       , e.get_cis_buffy().anon_instructor_id.nunique()
   ]
   , 'Number of matched Pre/Post Responses': [
       e.get_intro_matched().anon_student_id.nunique()
       , e.get_buffy_matched().anon_student_id.nunique()
   ]
   
    }
    , index = ['Introductory Labs', 'BUFFY']
)
survey_summary.transpose()

                                           Introductory Labs  BUFFY
Number of instances of the survey offered                363    236
Number of unique universities                             88     70
Number unique students                                 36538   6164
Number of unique instructors                             123    103
Number of matched Pre/Post Responses                   17583   2944

In [6]:
e.pre.merge(e.post, on=['anon_student_id', 'ResponseId'], suffixes=['_pre', '_post'])

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
0,24622,00KRiRH91SoGB3T,507.0,5.0,5.0,5.0,5.0,3.0,5.0,3.0,...,5.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0
1,24624,00KRiRH91SoGB3T,591.0,5.0,5.0,5.0,5.0,3.0,1.0,5.0,...,5.0,5.0,5.0,3.0,5.0,3.0,5.0,5.0,4.0,4.0
2,24625,00KRiRH91SoGB3T,686.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0
3,24626,00KRiRH91SoGB3T,469.0,5.0,5.0,5.0,5.0,3.0,5.0,1.0,...,5.0,3.0,5.0,3.0,5.0,2.0,5.0,5.0,4.0,4.0
4,24627,00KRiRH91SoGB3T,812.0,5.0,5.0,3.0,5.0,1.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23000,3084,ezo65e90NlkpwRD,412.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,...,5.0,5.0,5.0,5.0,5.0,2.0,5.0,5.0,4.0,4.0
23001,3085,ezo65e90NlkpwRD,847.0,5.0,5.0,3.0,3.0,3.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,4.0,4.0
23002,3086,ezo65e90NlkpwRD,244.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,3.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0
23003,3087,ezo65e90NlkpwRD,407.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,4.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0
23004,3088,ezo65e90NlkpwRD,304.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0

In [10]:
e.get_intro_matched()

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
0,11542,00STAnSs9Sqb8sB,234.0,5.0,5.0,5.0,5.0,3.0,5.0,1.0,...,3.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0
1,11545,00STAnSs9Sqb8sB,1073.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,...,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,4.0
2,11546,00STAnSs9Sqb8sB,427.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,3.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0
3,11548,00STAnSs9Sqb8sB,1892.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0
4,11549,00STAnSs9Sqb8sB,377.0,5.0,5.0,3.0,5.0,1.0,1.0,1.0,...,3.0,1.0,1.0,1.0,1.0,3.0,3.0,5.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19440,3084,ezo65e90NlkpwRD,412.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,...,5.0,5.0,5.0,5.0,5.0,2.0,5.0,5.0,4.0,4.0
19441,3085,ezo65e90NlkpwRD,847.0,5.0,5.0,3.0,3.0,3.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,4.0,4.0
19442,3086,ezo65e90NlkpwRD,244.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,3.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0
19443,3087,ezo65e90NlkpwRD,407.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,4.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0
19444,3088,ezo65e90NlkpwRD,304.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0

In [14]:
e.get_intro_post()

,anon_student_id,survey_id,duration,Q47,Q48,Q49,Q50,Q52_1,Q52_2,Q52_3,...,q29a,q29b,q30a,q30b,q30c,q31a,q31b,q40a,q40b,ResponseId
0,19470,00T1R8BOWChY3I1,992.0,9.0,3.0,4.0,1.0,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
1,19474,00T1R8BOWChY3I1,723.0,9.0,NaN,4.0,2.0,NaN,NaN,NaN,...,5.0,5.0,3.0,3.0,NaN,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
2,19464,00T1R8BOWChY3I1,803.0,9.0,NaN,3.0,2.0,NaN,NaN,NaN,...,3.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
3,19469,00T1R8BOWChY3I1,823.0,9.0,NaN,3.0,2.0,NaN,NaN,NaN,...,5.0,5.0,3.0,5.0,1.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
4,19467,00T1R8BOWChY3I1,1342.0,9.0,13.0,2.0,2.0,NaN,NaN,NaN,...,1.0,5.0,1.0,1.0,4.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31582,36359,eyeurt1duUgFZZz,581.0,8.0,NaN,4.0,2.0,NaN,NaN,NaN,...,5.0,5.0,3.0,5.0,2.0,5.0,5.0,4.0,4.0,R_XB8xm5gYzuHhyUh
31583,36360,eyeurt1duUgFZZz,693.0,15.0,1.0,4.0,2.0,NaN,NaN,NaN,...,3.0,5.0,3.0,5.0,3.0,5.0,5.0,4.0,4.0,R_XB8xm5gYzuHhyUh
31584,36361,eyeurt1duUgFZZz,450.0,1.0,NaN,3.0,3.0,NaN,NaN,NaN,...,5.0,5.0,3.0,5.0,5.0,5.0,5.0,4.0,4.0,R_XB8xm5gYzuHhyUh
31585,36362,eyeurt1duUgFZZz,589.0,15.0,1.0,4.0,2.0,NaN,NaN,1.0,...,1.0,5.0,1.0,5.0,5.0,5.0,5.0,4.0,4.0,R_XB8xm5gYzuHhyUh
31586,36363,eyeurt1duUgFZZz,569.0,7.0,NaN,5.0,1.0,NaN,1.0,NaN,...,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0,R_XB8xm5gYzuHhyUh

In [18]:
e.post

,anon_student_id,survey_id,duration,Q47,Q48,Q49,Q50,Q52_1,Q52_2,Q52_3,...,q29a,q29b,q30a,q30b,q30c,q31a,q31b,q40a,q40b,ResponseId
0,19470,00T1R8BOWChY3I1,992.0,9.0,3.0,4.0,1.0,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
1,19474,00T1R8BOWChY3I1,723.0,9.0,NaN,4.0,2.0,NaN,NaN,NaN,...,5.0,5.0,3.0,3.0,NaN,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
2,19464,00T1R8BOWChY3I1,803.0,9.0,NaN,3.0,2.0,NaN,NaN,NaN,...,3.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
3,19469,00T1R8BOWChY3I1,823.0,9.0,NaN,3.0,2.0,NaN,NaN,NaN,...,5.0,5.0,3.0,5.0,1.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
4,19467,00T1R8BOWChY3I1,1342.0,9.0,13.0,2.0,2.0,NaN,NaN,NaN,...,1.0,5.0,1.0,1.0,4.0,5.0,5.0,4.0,4.0,R_115PZ1aYo9rIWAg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31587,4973,ezBijaKNbDhDQeV,419.0,1.0,NaN,5.0,2.0,NaN,1.0,NaN,...,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0,R_1Ka0KJ69tOO7JAk
31588,36453,ezBijaKNbDhDQeV,279803.0,1.0,NaN,5.0,1.0,NaN,NaN,NaN,...,3.0,5.0,1.0,3.0,4.0,5.0,5.0,4.0,4.0,R_1Ka0KJ69tOO7JAk
31589,4976,ezBijaKNbDhDQeV,5054.0,1.0,NaN,2.0,2.0,NaN,NaN,NaN,...,1.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0,R_1Ka0KJ69tOO7JAk
31590,4977,ezBijaKNbDhDQeV,712.0,1.0,NaN,4.0,1.0,NaN,1.0,NaN,...,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0,R_1Ka0KJ69tOO7JAk
31591,4971,ezBijaKNbDhDQeV,677.0,1.0,NaN,5.0,1.0,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,2.0,5.0,5.0,4.0,4.0,R_1Ka0KJ69tOO7JAk

In [41]:
e.post[['anon_student_id', 'Q54', 'Q52_1', 'Q52_2',
'Q52_3',
'Q52_4',
'Q52_5',
'Q52_6',
'Q52_7',
'race_unknown',
'Q53',
]]

,anon_student_id,Q54,Q52_1,Q52_2,Q52_3,Q52_4,Q52_5,Q52_6,Q52_7,race_unknown,Q53
0,19470,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0
1,19474,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0
2,19464,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0
3,19469,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0
4,19467,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...
31587,4973,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0,5.0
31588,36453,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0,5.0
31589,4976,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4.0
31590,4977,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,0,5.0
31591,4971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5.0

In [ ]:
students = pd.DataFrame(
    {
        'anon_student_id':pd.concat([e.pre.anon_student_id, e.post.anon_student_id]).unique()
        ,'gender':
        ,'took_pre':
        ,'took_post':
        ,'matched':
        ,'race':
        ,'intro or buffy':
    }
)