In [1]:
import DataHelper
import pandas as pd
import numpy as np

In [2]:
e = DataHelper.eclass_data()

In [3]:
e.get_intro_pre()

,anon_student_id,survey_id,duration,q01a,q01b,q27a,q27b,q03a,q03b,q22a,...,q04b,q14a,q14b,q29a,q29b,q07a,q07b,q31a,q31b,ResponseId
19,11542,00STAnSs9Sqb8sB,234.0,5.0,5.0,5.0,5.0,3.0,5.0,1.0,...,5.0,3.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
20,11543,00STAnSs9Sqb8sB,688.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
21,11544,00STAnSs9Sqb8sB,298.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
22,11545,00STAnSs9Sqb8sB,1073.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,...,3.0,3.0,5.0,5.0,5.0,3.0,1.0,5.0,5.0,R_1I5iowCdb6VvSeo
23,11546,00STAnSs9Sqb8sB,427.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,3.0,5.0,5.0,5.0,1.0,5.0,5.0,5.0,R_1I5iowCdb6VvSeo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40067,3084,ezo65e90NlkpwRD,412.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,...,5.0,5.0,5.0,5.0,5.0,1.0,1.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40068,3085,ezo65e90NlkpwRD,847.0,5.0,5.0,3.0,3.0,3.0,5.0,1.0,...,5.0,5.0,5.0,3.0,5.0,1.0,3.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40069,3086,ezo65e90NlkpwRD,244.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,5.0,3.0,5.0,3.0,5.0,3.0,5.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40070,3087,ezo65e90NlkpwRD,407.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ
40071,3088,ezo65e90NlkpwRD,304.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,3.0,3.0,5.0,5.0,R_2Y3sqmCv6vHoNbZ

In [4]:
pd.concat([e.get_intro_pre().anon_student_id, e.get_intro_post().anon_student_id]).nunique()

36538

In [5]:
survey_summary = pd.DataFrame(
    {'Number of instances of the survey offered':    [
        e.first_year_id.nunique()
        , e.buffy_id.nunique()
    ]
     
     ,'Number of unique universities':[
         e.get_cis_intro().anon_university_id.nunique(), e.get_cis_buffy().anon_university_id.nunique()
     ]
     
     , 'Number unique students': [
         pd.concat([e.get_intro_pre().anon_student_id, e.get_intro_post().anon_student_id]).nunique()
         , pd.concat([e.get_buffy_pre().anon_student_id, e.get_buffy_post().anon_student_id]).nunique()
                                              ]
     
   , 'Number of unique instructors': [
       e.get_cis_intro().anon_instructor_id.nunique()
       , e.get_cis_buffy().anon_instructor_id.nunique()
   ]
   , 'Number of matched Pre/Post Responses': [
       e.get_intro_matched().anon_student_id.nunique()
       , e.get_buffy_matched().anon_student_id.nunique()
   ]
   
    }
    , index = ['Introductory Labs', 'BUFFY']
)
survey_summary.transpose()

                                           Introductory Labs  BUFFY
Number of instances of the survey offered                363    236
Number of unique universities                             88     70
Number unique students                                 36538   6164
Number of unique instructors                             123    103
Number of matched Pre/Post Responses                   17583   2944

In [175]:
# e.pre.merge(e.post, on=['anon_student_id', 'ResponseId'], suffixes=['_pre', '_post'])

In [176]:
# e.get_intro_matched()

In [177]:
# e.get_intro_post()

In [178]:
# e.post

In [179]:
# e.post[['anon_student_id', 'Q54', 'Q52_1', 'Q52_2',
# 'Q52_3',
# 'Q52_4',
# 'Q52_5',
# 'Q52_6',
# 'Q52_7',
# 'race_unknown',
# 'Q53',
# ]]

In [180]:
# e.pre.merge(e.post, on='anon_student_id', how='outer')

In [181]:
# e.post[['anon_student_id', 'Q54', 'Q52_1', 'Q52_2', 'Q52_3', 'Q52_4', 'Q52_5', 'Q52_6', 'Q52_7', 'race_unknown']]

In [182]:
# multi_race = e.post[[ 'Q52_1', 'Q52_2', 'Q52_3', 'Q52_4', 'Q52_5', 'Q52_6', 'Q52_7', 'race_unknown']].sum(axis=1).apply(lambda x: 1 if x>1 else 0)

In [83]:
# def return_race(rcode):
#     """
#     Returns the racial identifier from IPEDS definitions
    
#     All 'unknown' columns are reduced to 'Not Reported'
#     """
#     race_codes = {'10000000':'American Indian or Alaska Native'
#                   , '01000000':'Asian'
#                   , '00100000':'Black'
#                   , '00010000':'Hispanic/Latino'
#                   , '00001000':'Native Hawaiian or other Pacific Islander'
#                   , '00000100':'White'
#                  }
#     try:
#         return race_codes[rcode]
#     except KeyError:
#         return 'Not Reported'

# races = e.post.set_index('anon_student_id')[[ 'Q52_1', 'Q52_2', 'Q52_3', 'Q52_4', 'Q52_5', 'Q52_6', 'Q52_7', 'race_unknown']].fillna(0).astype(int).astype(str)

# races = (races[ 'Q52_1'] + races['Q52_2'] + races['Q52_3'] + races['Q52_4'] + races['Q52_5'] + races['Q52_6'] + races['Q52_7'] + races['race_unknown'])    

# # (races[ 'Q52_1'] + races['Q52_2'] + races['Q52_3'] + races['Q52_4'] + races['Q52_5'] + races['Q52_6'] + races['Q52_7'] + races['race_unknown']).apply(return_race)
# # races.ap
# races = races.apply(return_race)
# races = pd.DataFrame({'Race':races})

In [183]:
# gender = e.post[['anon_student_id','Q54']].drop_duplicates().set_index('anon_student_id')#
# gender.columns = ['Gender']
# gender

In [184]:
# buffy_student = pd.DataFrame(index=pd.concat([e.get_buffy_pre(), e.get_buffy_post()]).anon_student_id.unique())
# buffy_student['BUFFY'] = 1
# buffy_student

In [163]:
# future_plans = e.post[['anon_student_id', 'Q53_1', 'Q53_2', 'Q53_3', 'Q53_4', 'Q53_5', 'Q53_6', 'Q53_7', 'Q53_8']].set_index('anon_student_id')

In [173]:
# index = np.arange(0, pd.concat([e.pre.anon_student_id, e.post.anon_student_id]).max()+1, 1)
# # students = pd.DataFrame(index=pd.concat([e.pre.anon_student_id, e.post.anon_student_id]).unique())
# students = pd.DataFrame(index=index)

# students = students.join(races, how='left').join(gender, how='left').join(buffy_student, how='left').join(future_plans).reset_index()
# students = students.drop_duplicates(subset=['index'], keep='first').set_index('index').dropna(how='all')
# students['BUFFY'] = students['BUFFY'].fillna(0)

In [185]:
# students

In [186]:
# students = pd.DataFrame(
#     {
#         'anon_student_id':pd.concat([e.pre.anon_student_id, e.post.anon_student_id]).unique()
#         ,'gender':
#         ,'took_pre':
#         ,'took_post':
#         ,'matched':
#         ,'race':
#         ,'intro or buffy':
#     }
# )