In [1]:
%matplotlib inline
import DataHelper

In [2]:
d = DataHelper.eclass_data()

In [4]:
# buffy gender unmatched
d.get_buffy_post().groupby('Q54').count()

,anon_student_id,survey_id,duration,Q47,Q48,Q49,Q50,Q52_1,Q52_2,Q52_3,...,q29a,q29b,q30a,q30b,q30c,q31a,q31b,q40a,q40b,ResponseId
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,1249,1249,1249,1247,306,1249,1248,10,290,49,...,1249,1248,1246,1244,1245,1249,1248,1249,1249,1249
2.0,2595,2595,2595,2582,713,2595,2591,24,564,73,...,2592,2586,2589,2588,2585,2594,2590,2595,2595,2595
3.0,62,62,62,61,24,62,61,4,11,7,...,62,62,62,62,62,62,62,62,62,62

In [12]:
d.get_buffy_post().isnull().sum(axis = 0).Q54

100

In [7]:
# buffy gender matched
d.get_buffy_matched().groupby('Q54').count()

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,899,899,899,897,894,898,896,897,897,897,...,893,899,898,896,895,895,899,899,899,899
2.0,2067,2067,2067,2066,2063,2062,2057,2064,2063,2062,...,2060,2065,2063,2063,2063,2061,2066,2063,2067,2067
3.0,52,52,52,52,52,52,52,52,52,51,...,51,52,52,52,52,52,52,52,52,52

In [13]:
d.get_buffy_matched().isnull().sum(axis = 0).Q54

78

In [8]:
# intro gender unmatched
d.get_intro_post().groupby('Q54').count()

,anon_student_id,survey_id,duration,Q47,Q48,Q49,Q50,Q52_1,Q52_2,Q52_3,...,q29a,q29b,q30a,q30b,q30c,q31a,q31b,q40a,q40b,ResponseId
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,11485,11485,11485,11462,3630,11485,11457,130,2784,1115,...,11474,11464,11465,11451,11458,11483,11462,11485,11485,11485
2.0,14741,14741,14741,14690,5533,14741,14698,146,3600,840,...,14714,14691,14717,14688,14699,14732,14705,14741,14741,14741
3.0,253,253,253,252,100,253,253,8,35,17,...,251,250,251,251,251,252,249,253,253,253

In [14]:
d.get_intro_post().isnull().sum(axis = 0).Q54

608

In [9]:
# intro gender unmatched
d.get_intro_matched().groupby('Q54').count()

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,8240,8240,8240,8231,8222,8227,8217,8222,8219,8215,...,8211,8233,8228,8231,8225,8225,8239,8225,8240,8240
2.0,10568,10568,10568,10559,10547,10554,10544,10545,10534,10542,...,10523,10549,10532,10550,10534,10544,10564,10546,10568,10568
3.0,197,197,197,197,197,197,197,197,197,197,...,195,195,194,196,195,195,196,193,197,197

In [15]:
d.get_intro_matched().isnull().sum(axis = 0).Q54

440

In [17]:
# race
d.get_intro_post()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             287.0
Q52_2            6501.0
Q52_3            1983.0
Q52_4            2496.0
Q52_5             266.0
Q52_6           15384.0
Q52_7             720.0
race_unknown     1735.0
dtype: float64

In [18]:
d.get_intro_matched()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             184.0
Q52_2            4841.0
Q52_3            1261.0
Q52_4            1756.0
Q52_5             173.0
Q52_6           11136.0
Q52_7             490.0
race_unknown     1248.0
dtype: float64

In [19]:
d.get_buffy_post()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             39.0
Q52_2            881.0
Q52_3            131.0
Q52_4            256.0
Q52_5             31.0
Q52_6           2504.0
Q52_7            155.0
race_unknown     279.0
dtype: float64

In [20]:
d.get_buffy_matched()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             27.0
Q52_2            726.0
Q52_3             90.0
Q52_4            188.0
Q52_5             18.0
Q52_6           1913.0
Q52_7            113.0
race_unknown     217.0
dtype: float64

In [27]:
d.get_buffy_matched()

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
0,24622,00KRiRH91SoGB3T,507.0,5.0,5.0,5.0,5.0,3.0,5.0,3.0,...,5.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0
1,24624,00KRiRH91SoGB3T,591.0,5.0,5.0,5.0,5.0,3.0,1.0,5.0,...,5.0,5.0,5.0,3.0,5.0,3.0,5.0,5.0,4.0,4.0
2,24625,00KRiRH91SoGB3T,686.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0
3,24626,00KRiRH91SoGB3T,469.0,5.0,5.0,5.0,5.0,3.0,5.0,1.0,...,5.0,3.0,5.0,3.0,5.0,2.0,5.0,5.0,4.0,4.0
4,24627,00KRiRH91SoGB3T,812.0,5.0,5.0,3.0,5.0,1.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3091,17432,ezWArSvyMDBrYl7,529.0,5.0,5.0,5.0,5.0,1.0,1.0,1.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0
3092,17434,ezWArSvyMDBrYl7,604.0,5.0,5.0,3.0,5.0,5.0,5.0,3.0,...,3.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,4.0
3093,17435,ezWArSvyMDBrYl7,475.0,5.0,3.0,5.0,3.0,5.0,5.0,1.0,...,5.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0
3094,17438,ezWArSvyMDBrYl7,547.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0
3095,17439,ezWArSvyMDBrYl7,335.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0